<div class="c-dashboard">
  <div class="c-filters__container">
    <v-home-filter-page :search-value="homePageVm.search"></v-home-filter-page>
  </div>

  <employees-list
    employees-list="homePageVm.employees"
    search-value="homePageVm.search"
  ></employees-list>

  <div
    class="c-dashboard__footer"
    ng-if="homePageVm.pagination.current_page<=homePageVm.pagination.pages"
  >
    <button class="c-button" ng-click="homePageVm.fetchMore()">{{homePageVm.buttonText}}</button>
  </div>
</div>
